.section_one {
  width: 100%;
  height: 100vh;
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  color: white;
}

.overlay {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.679);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  padding: 2rem;
  border-radius: 8px;
}

.title {
  font-size: 52px;
  font-weight: 400;
  font-family: LehmannW08;
  color: #bc9c6b;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.subtitle {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 2rem;
}

.button {
  width: 250px;
  height: 40px;
  background-color: #bc9c6b;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}
.button p {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  font-style: bold;
}

.button:hover {
  background-color: #a68358;
}

.newsSection {
  background-color: #0f1b30;
  padding: 4rem 2rem;
  color: white;
}

.newsContent {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.newsText {
  flex: 1 1 40%;
}

.newsLabel {
  color: #bc9c6b;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
}

.newsTitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.newsDescription {
  font-size: 1rem;
  line-height: 1.6;
  color: #ccc;
}

.newsCard {
  background-color: #1c2a45;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex: 1 1 50%;
  min-width: 300px;
  max-width: 550px;
}

.newsImage {
  width: 150px;
  object-fit: cover;
}

.newsCardContent {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newsCardTitle {
  font-size: 1rem;
  color: #bc9c6b;
  margin-bottom: 0.5rem;
}

.newsCardText {
  font-size: 0.9rem;
  color: #ccc;
}

.paginationDots {
  margin-top: 1rem;
  display: flex;
  gap: 0.4rem;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 999px;
  background-color: #555;
}

.dot.active {
  background-color: #bc9c6b;
}

@media (max-width: 768px) {
  .section_one,
  .swiper,
  .banner {
    height: 570px;
  }
  .title {
    font-size: 28px;
  }
  .subtitle {
    font-size: 14px;
  }
  .button {
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem;
  }

}

