.filiaisSection {
  padding: 4rem 4rem;
  background-color: #151B2E;
  text-align: center;
  color: #ffffff;
}

.title {
  font-family: LehmannW08;
  font-size: 34px;
  font-weight: 400;
  line-height: 44px;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #BC9C6B;
}

.description {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 3rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}


@media (max-width: 1024px) {
  .filiaisSection {
    padding: 6rem 2rem;
  }

  .title {
    font-size: 22px;
  }

  .description {
    font-size: 14px;
  }

}