.section {
  padding: 4rem 2rem;
  background-color: #151b2e;
  color: #ffffff;
  text-align: center;
}

.title {
  font-family: LehmannW08;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 3rem;
}

.cardsContainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  flex: 1 1 300px;
  background-color: transparent;
  padding: 1.5rem;
  text-align: center;
}

.icon {
  margin-bottom: 1rem;
}

.cardTitle {
  color: #bc9c6b;
  font-size: 1rem;
  font-family: LehmannW08;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.cardText {
  font-size: 0.95rem;
  line-height: 1.6;
  color: #e2e2e2;
}

@media (max-width: 1024px) {
  .cardsContainer {
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 100%;
  }
  .section {
    padding: 4rem 0rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 18px;
  }

  .cardText {
    font-size: 12px
  }
}


.mobileSwiper :global(.swiper-pagination) {
  position: relative;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

