.section {
  padding: 4rem 2rem;
  margin-bottom: 3rem;
  background-color: #151b2e;
  color: #ffffff;
  text-align: center;
}

.title {
  font-family: LehmannW08;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 3rem;
}


.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem 2rem;
  margin-top: 2rem;
  place-items: stretch;
}

.card {
  background-color: #212739;
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  text-align: left;
}


.icon {
  flex-shrink: 0;
}

.textWrapper {
  flex: 1;
}

.cardTitle {
  color: #bc9c6b;
  font-size: 16px;
  font-weight: 400;
  font-family: LehmannW08;
  margin-bottom: 0.5rem;
}

.cardText {
  font-size: 14px;
  line-height: 22px;
  color: #e2e2e2;
  text-align: left;
}

.mobileCard {
  display: none;
 }
 
@media (max-width: 1024px) {
  .title {
    font-size: 18px;
  }

  .desktopCard {
    display: none;
  }

  .mobileCard {
    display: block;
  }

  .IconAndTitle {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 39px;
  }
}