.sidebar {
  width: 64px;
  height: 100dvh;
  background-color: #151B2ECC;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #1E253C;
  border-bottom: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
}


.menuButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.hamburguer_menu {
  box-sizing: border-box;
  padding: 16px;
}

.hamburguer_menu button {
  border: none;
  outline: none;
  cursor: pointer;
}

.hamburguer_menu button svg {
  font-size: 30px;
  color: #FFF;
}

.spacer {
  flex-grow: 1;
}

.socialIcons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
  align-items: center;
}

.socialIcons :global(img) {
  filter: brightness(0) invert(1);
  cursor: pointer;
  transition: transform 0.2s ease, filter 0.3s ease;
}

.socialIcons :global(img):hover {
  transform: scale(1.1);
  filter: brightness(0) invert(0.5) sepia(1) saturate(5) hue-rotate(200deg);
}


@media (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}
