.aboutSection {
    padding: 4rem 2rem;
    background-color: #151B2E;
    color: #ffffff;
    text-align: center;
}

.title {
    font-family: LehmannW08;
    font-size: 34px;
    font-weight: 400;
    line-height: 44px;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: #BC9C6B;
}

.subtitle {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 91px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}

.contentWrapper {
    display: flex;
    align-items: stretch;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.imageWrapper {
    position: relative;
    flex: 1 1 400px;
    height: auto;
    aspect-ratio: unset;
    border-top-left-radius: 16px;
    overflow: hidden;
}

.image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.textBlock {
    flex: 1 1 500px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1rem;
    line-height: 1.6;
    color: #e2e2e2;
}

@media (max-width: 1024px) {
    .aboutSection {
        padding: 4rem 1rem;
    }
    
    .title {
        margin-top: 4rem;
        font-size: 22px;
    }
    .subtitle {
        font-size: 14px;
        margin-bottom: 58px;
    }

    .contentWrapper {
        flex-direction: column;
    }

    .imageWrapper {
        width: 100%;
        min-height: 280px;
    }

    .textBlock {
        text-align: justify;
    }
}

@media (max-width: 768px) {
    .aboutSection {
        padding: 4rem 0rem;
    }
}